.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 600;
}

.userIdRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 8px;
}

.userIdButton {
  padding: 0px 16px;
  border: none;
  border-radius: 8px;
  background: #333;
  color: white;
  cursor: pointer;
}

.idContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.input,
.textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 12px;
  background: #fff;
  flex: 2;
}

.delete {
  flex: 1;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

  .input,
  .textarea {
    color: black;
  }

  .pre {
    color: black;
  }
}

.button {
  height: 44px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.resultBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.meta {
  font-size: 14px;
  color: #444;
}

.error {
  color: #b00020;
  white-space: pre-wrap;
}

.pre {
  white-space: pre-wrap;
}

.logsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}